<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam est odio repellendus doloribus laudantium officia ullam rerum nam reiciendis, a, quidem in quisquam tempora maxime eligendi illo, expedita eveniet impedit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto tenetur excepturi minima eius illo vitae, vero amet eveniet cum ea exercitationem. Molestiae iusto ipsam provident quaerat voluptas sunt hic.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos corrupti dolorum et deserunt animi labore libero debitis facilis sed harum numquam optio quae, nesciunt voluptate officiis suscipit quo, eligendi excepturi?</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>